
body {
  font-size: 16px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; 
  background-image: url("./images/coverphotos/bubbles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

*{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: black;
}

#met{
  display:none;
}

#start{
  display:none;
}